---
grails:
  profile: react
  codegen:
    defaultPackage: grails.graphql.demo
  gorm:
    reactor:
      # Whether to translate GORM events into Reactor events
      # Disabled by default for performance reasons
      events: false
info:
  app:
    name: '@info.app.name@'
    version: '@info.app.version@'
    grailsVersion: '@info.app.grailsVersion@'
spring:
  jmx:
    unique-names: true
  main:
    banner-mode: "off"
  groovy:
    template:
      check-template-location: false
  devtools:
    restart:
      additional-exclude:
        - '*.gsp'
        - '**/*.gsp'
        - '*.gson'
        - '**/*.gson'
        - 'logback.groovy'
        - '*.properties'
management:
  endpoints:
    enabled-by-default: false

---
grails:
  mime:
    disable:
      accept:
        header:
          userAgents:
            - Gecko
            - WebKit
            - Presto
            - Trident
    types:
      json:
        - application/json
        - text/json
      hal:
        - application/hal+json
        - application/hal+xml
      xml:
        - text/xml
        - application/xml
      atom: application/atom+xml
      css: text/css
      csv: text/csv
      js: text/javascript
      rss: application/rss+xml
      text: text/plain
      all: '*/*'
  urlmapping:
    cache:
      maxsize: 1000
  controllers:
    defaultScope: singleton
  converters:
    encoding: UTF-8

---
grails:
  cors:
    enabled: true
---
hibernate:
  cache:
    queries: false
    use_second_level_cache: false
    use_query_cache: false
  dialect: net.kaleidos.hibernate.PostgresqlExtensionsDialect
dataSource:
  pooled: true
  jmxExport: true
  driverClassName: org.postgresql.Driver
  username: development
  password: $4f3_d3v_p4$$w0rd
  dbCreate: create

environments:
  development:
    dataSource:
      #      dbCreate: create
      #      dbCreate: validate
      dbCreate: none
      url: jdbc:postgresql://localhost:5432/grails_demo_db
    flyway.locations: db/migrations
  test:
    dataSource:
      dbCreate: update
      url: jdbc:postgresql://localhost:5432/grails_demo_db
    flyway.locations: db/test/migrations
  production:
    dataSource:
      dbCreate: none
      url: jdbc:postgresql://localhost:5432/grails_demo_db
      properties:
        jmxEnabled: true
        initialSize: 5
        maxActive: 50
        minIdle: 5
        maxIdle: 25
        maxWait: 10000
        maxAge: 600000
        timeBetweenEvictionRunsMillis: 5000
        minEvictableIdleTimeMillis: 60000
        validationQuery: SELECT 1
        validationQueryTimeout: 3
        validationInterval: 15000
        testOnBorrow: true
        testWhileIdle: true
        testOnReturn: false
        jdbcInterceptors: ConnectionState
        defaultTransactionIsolation: 2 # TRANSACTION_READ_COMMITTED

---
flyway:
  enabled: true
  baselineOnMigrate: true